<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{style('css/view.css')}}
    <link rel="stylesheet" href="https://drive.google.com/uc?authuser=0&id=1w-OStGxF1oCWETeVHDeBXtJV7-iWoR4t&export=download" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div>
        <form action="/alumnos/ver/{{alumno.id}}" method="GET">
            <h1 class="mt-4 mb-3">Matricula: {{alumno.MATRICULA}}
                <small>{{alumno.NOMBRE_P}}</small>
            </h1>
            <div class="card mb-4">
                <div class="card-body">
                  <div class="row" style="font-size:12px">
                    <div class="col-lg-2">
                      <a href="#">
                        <img class="img-fluid rounded" id="imageStudent" src="{{alumno.FOTO}}">
                      </a>
                      <div>
                        <a class="btn btn-primary" href="/alumnos">Regresar al menu</a>
                      </div>
                    </div>
                    <div class="col-lg-10" id="contenido">
                      <div id="myCarousel" class="carousel slide" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style=" width:100%; height: 700px !important;">
                          <!--Primera Seccion-->
                          <div class="item active">
                            <h2>Datos del Alumnos</h2>
                            <div class="col-lg-4">
                              <table>
                                <tbody>
                                  <td colspan="1">
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Nombre</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.NOMBRE_P}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Apellidos</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.AP_PATERNO}} {{alumno.AP_MATERNO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Fecha de nacimiento</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.FEC_NACIM}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Sección</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.SECCION}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Grado</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.GRADO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Grupo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.GRUPO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Ciclo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CICLO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Alergia</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.ALERGIA}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">CURP</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CURP}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Sexo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.SEXO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Sangre</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.TIPO_SANGRE}}">
                                      </div>
                                    </div>
                                  </td>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-lg-4">
                              <table>
                                <tbody>
                                  <td colspan="1">
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Lugar de nacimiento</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.LUGAR_NACIM}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Domicilio</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.DIRECCION}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Codigo postal</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CP}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Ciudad</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CIUDAD}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estado</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.ESTADO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Telefono Casa</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.TEL_FAX}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Telefono Emergencia</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.EMERGENCIA}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estatus Alumno</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.STAT_ALUM}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estado Civil Padres</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.EDO_CIVIL}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estatus Beca</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.STAT_BECA}}">
                                      </div>
                                    </div>
                                  </td>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <!--Segunda Seccion-->
                          <div class="item">
                            <div class="col-lg-4">
                              <h2>Datos del Padre</h2>
                              <table>
                                <tbody>
                                  <td colspan="1">
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Padre</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.PADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Rfc Padre</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.RFC_PADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Profesion</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.OCUP_PADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Empresa</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.EMPRESA_PAD}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Direccion Trabajo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.DOM_TRAB_PAD}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Telefono Trabajo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.TEL_TRAB_P}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Celular</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CEL_PADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Ciudad</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CD_PADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estado</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.EDO_PADRE}}">
                                      </div>
                                    </div>
                                  </td>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-lg-4">
                              <h2>Datos dela Madre</h2>
                              <table>
                                <tbody>
                                  <td colspan="1">
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Madre</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Rfc Madre</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.RFC_MADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Profesion</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.OCUP_MADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Empresa</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.EMPRESA_MAD}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Direccion Trabajo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.DOM_TRAB_MAD}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Telefono Trabajo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.TEL_TRAB_M}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Celular</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CEL_MADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Ciudad</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.CD_MADRE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estado</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.EDO_MADRE}}">
                                      </div>
                                    </div>
                                  </td>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <div class="item">
                            <h2>Datos de Facturacion</h2>
                            <div class="col-lg-4">
                              <table>
                                <tbody>
                                  <td colspan="1">
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Razon</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.RAZON}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Facturardo</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.FACT_A}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">RFC</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.RFC_FACT}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Colonia</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_COLONIA}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Calle</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_CALLE}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Numero Exterior</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_NUMEXTERIOR}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Numero Interior</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_NUMINTERIOR}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Codigo Postal</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_CODPOST}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Ciudad</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_CIUDAD}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Municipio</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_MUNICIPIO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Estado</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_ESTADO}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Pais</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_PAIS}}">
                                      </div>
                                    </div>
                                  </td>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-lg-4">
                              <table>
                                <tbody>
                                  <td colspan="1">
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Email</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.MAD_EMAIL}}">
                                      </div>
                                    </div>
                                    <div class="form-group row" style="font-size:12px">
                                      <label class="col-4 col-form-label">Fecha Captura</label>
                                      <div class="col-8">
                                        <input class="form-control" type="text" disabled="true" value="{{alumno.FECHA_CAPT}}">
                                      </div>
                                    </div>
                                  </td>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:none;">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:none;">
                          <span class="glyphicon glyphicon-chevron-right" ></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Creado en {{alumno.FECHA_CAPT}}
                </div>
              </div>
        </form>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</html>