<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Info Kardex</title>
  <style> /*!
    * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
    * Copyright 2013-2019 Start Bootstrap
    * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
    */

   body {
       overflow-x: hidden;
   }

   #sidebar-wrapper {
       min-height: 100vh;
       margin-left: -15rem;
       -webkit-transition: margin .25s ease-out;
       -moz-transition: margin .25s ease-out;
       -o-transition: margin .25s ease-out;
       transition: margin .25s ease-out;
   }

   #sidebar-wrapper .sidebar-heading {
       padding: 0.875rem 1.25rem;
       font-size: 1.2rem;
   }

   #sidebar-wrapper .list-group {
       width: 15rem;
   }

   #page-content-wrapper {
       min-width: 100vw;
   }

   #wrapper.toggled #sidebar-wrapper {
       margin-left: 0;
   }

   @media (min-width: 768px) {
       #sidebar-wrapper {
           margin-left: 0;
       }
       #page-content-wrapper {
           min-width: 0;
           width: 100%;
       }
       #wrapper.toggled #sidebar-wrapper {
           margin-left: -15rem;
       }
   }

   .my-custom-scrollbar {
       position: relative;
       height: 480px;
       overflow: auto;
   }

   .table-wrapper-scroll-y {
       display: block;
       overflow-x: auto;
       white-space: nowrap;
   }

   #botonCrear {
       background-image: url('images/studenticon.png');
       background-position: 0px 0px;
       background-repeat: no-repeat;
       background-size: contain;
       padding: 0px 20px 15px 40px;
   }</style>
  <!--{{style('css/simple-sidebar.css')}}
  <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <h1>La Paz</h1>
      </div>
      <div class="list-group list-group-flush">
        <a href="/alumnos" class="list-group-item list-group-item-action bg-light">ALUMNOS</a>
        <a href="/consulta_colegiaturas" class="list-group-item list-group-item-action bg-light">COLEGIATURAS</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary"id="menu-toggle">Ocultar Menu <i class="fa fa-navicon"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
          <div class="jumbotron text-center">
            <h3>CONSULTA COLEGIATURAS</h3>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <div class="table-responsive">
              <table id="myTable" class="display " cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th></th>
                          <th>CICLO</th>
                          <th>ID_ALUMNO</th>
                          <th>MATRICULA</th>
                          <th>SECCION</th>
                          <th>GRADO</th>
                          <th>GRUPO</th>
                          <th>STAT_ALUMNO</th>
                          <th>FECHA_INSC</th>
                          <th>FECHA_BAJA</th>
                          <th>STAT_INSC</th>
                          <th>SEMESTRE</th>
                          <th>FECHA_OPER</th>
                      </tr>
                  </thead>
                  <tbody>
                      @each(kardex in kardex_ciclos)
                      <tr>
                        <td>
                          <form action="/info_kardex/ver" method="get">
                            <input type="hidden" name="VER" id="VER" value="{{kardex.ID_ALUMNO}}">
                            <input type="hidden" name="CICLO" id="CICLO" value="{{kardex.CICLO}}">
                            <button type="submit" class="btn btn-info"><i title="Mirar" class="fa fa-eye"></i></button>
                          </form>
                          <!--<a class="btn btn-info" href="/info_kardex/ver/{{kardex.id}}"><i title="Mirar" class="fa fa-eye"></i></a>-->
                       </td>
                        <td title="CICLO">{{kardex.CICLO}}</td>
                        <td title="ID_ALUMNO">{{kardex.ID_ALUMNO}}</td>
                        <td title="MATRICULA">{{kardex.MATRICULA}}</td>
                        <td title="SECCION">{{kardex.SECCION}}</td>
                        <td title="GRADO">{{kardex.GRADO}}</td>
                        <td title="GRUPO">{{kardex.GRUPO}}</td>
                        <td title="STAT_ALUM">{{kardex.STAT_ALUMNO}}</td>
                        <td title="FECHA_INSC">{{kardex.FECHA_INSC}}</td>
                        <td title="FECHA_BAJA">{{kardex.FECHA_BAJA}}</td>
                        <td title="STAT_INSC">{{kardex.STAT_INSC}}</td>
                        <td title="SEMESTRE">{{kardex.SEMESTRE}}</td>
                        <td title="FECHA_OPER">{{kardex.FECHA_OPER}}</td>
                      </tr>
                      @endeach
                  </tbody>
              </table>
            </div>
          </div>
      </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!-- /#wrapper -->
  <!-- Menu Toggle Script -->

<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

<script>
  $(document).ready(function() {
    $(document).ready(function() {
  // Setup - add a text input to each footer cell
    $('#myTable thead tr').clone(true).appendTo( '#myTable thead' );
    $('#myTable thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        $( 'input', this ).on( 'keyup change', function () {
          if ( table.column(i).search() !== this.value ) {
            table
              .column(i)
              .search( this.value )
              .draw();
            }
          });
        });
      var table = $('#myTable').DataTable( {
        orderCellsTop: true,
        fixedHeader: true
      });
    });
  });
</script>
</html>