<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    /*!
* Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
* Copyright 2013-2019 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
*/

body {
  padding-top: 56px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.portfolio-item {
  margin-bottom: 30px;
}

.animate-out {
  transform: translate(-100%);
}

.animate-out-again {
  transform: translate(-200%);
}
  </style>
  <!--{{style('css/view.css')}}-->
  <link rel="stylesheet" href="https://drive.google.com/uc?authuser=0&id=1w-OStGxF1oCWETeVHDeBXtJV7-iWoR4t&export=download" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<body>
    <div>
      <form>
        <h1 class="mt-4 mb-3">Ciclo: {{kardex.CICLO}} - Consulta de colegiaturas
        </h1>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row" style="font-size:12px">
                <div class="col-lg-2">
                  <div>
                    <a class="btn btn-primary" href="/alumnos">Regresar al menu</a>
                  </div>
                </div>
                <div class="col-lg-10" id="contenido">

                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
</body>
</html>